/* SECCIÓNES-LOCALES */
.locales__hero{
    height: 80vh;
    background-image: url(https://res.cloudinary.com/dama47dzc/image/upload/v1676552744/proyecto-coder-hause/inicio-locales_ojwsgq.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    .hero__container{
        width: 80%;
        text-align: center;
        .hero__text{
            font-size: 2.5rem;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        }
    }
}

/* Sección ubicación locales*/
.ubicacion__container{
    padding: 30px 0px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    border-bottom: 1px solid black;
    text-align: center;
    .ubicacion__ubi{
        width: 95%;
        .ubicacion__map{
            width: 95%;
            height: 280px;
            box-shadow: 0 0 10px rgba(65, 63, 58, 0.685);
        }
    }
    

}

@media (min-width: 768px){
    .locales__hero{
        height: 70vh;
    }
    /* Sección locales */
    .ubicacion__container{
        .locales__hero{
            height: 70vh;
        }
        .ubicacion__ubi{
            height: 320px;
            .ubicacion__map{
                width: 90%;
                height: 320px;
            }
        }
    }
}

@media (min-width: 1024px){
    /* Sección locales */
    .ubicacion__container{
        grid-template-columns: repeat(2, 1fr);
        .ubicacion__ubi{
            height: 380px;
            .ubicacion__map{
                width: 90%;
                height: 380px;
            }
        }
    }
}