
/* SECCIÓN MAIN-INDEX*/
.hero{
    height: 80vh;
    background-image: url(https://images.unsplash.com/photo-1533637236732-baaf7a3588ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    .hero__container{
        width: 80%;
        text-align: center;
        .hero__text{
            font-size: 2.5rem;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        }
    }
}    

/* Sección camara index */
.camara__container{
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 30px;
    text-align: center;
    .camara__title{
        text-transform: uppercase;
    }
    .camara__img{
        width: 90%;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
    }
}

/* Sección lentes index */
.lentes{
    background-color: black;
    color: white;
    .lentes__title{
        text-transform: uppercase;
        padding-top: 2rem;
        text-align: center;
    }
    .lentes__container{
        width: 85%;
        margin: 0 auto;
        display: grid;
        .lentes__img{
            width: 180px;
            height: 180px;
            border-radius: 100%;
        }
        .lentes__cartas{
            background-color: rgb(14, 14, 14);
            border-radius: 15px;
            margin: 15px 0px;
            padding: 20px 0px;
            text-align: center;
        }
        .lentes__paragraph{
            padding: 5px;
        }
    }
    
}

/* Sección galería index */
.galeria{
    height: 75vh;
    background-image: url(https://images.unsplash.com/photo-1500214439798-ef148e2fa93e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    .galeria__container{
        text-align: center;
        width: 80%;
    }
    .galeria__text{
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
}

/* Sección accesorios index */
.accesorios__container{
    width: 90%;
    margin: 30px auto;
    display: grid;
    place-items: center;
    gap: 30px;
    text-align: center;
    .accesorios__img{
        width: 95%;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
    }
}

/* Sección nosotros index */
.nosotros{
    background-color: black;
    color: white;
    .nosotros__container{
        width: 90%;
        margin: 0px auto;
        padding: 30px 0px;
        display: grid;
        place-items: center;
        gap: 30px;
        text-align: center;
    }
    .nosotros__img{
        width: 95%;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(77, 76, 76, 0.61);
    }
}

/* Sección datos index */
.datos{
    margin: 30px 0px;
    text-align: center;
    .datos__container{
        margin: 0px auto;
        width: 90%;
        margin: 30px auto;
        display: grid;
        gap: 20px;
        text-align: center;
        .datos__cartas{
            background-color: rgb(221, 219, 219);
            padding: 20px 5px;
            border-radius: 5px;
        }
    }
}

@media (min-width: 768px){
    /* sección hero index*/
    .hero{
        height: 70vh;
    }

    /* Sección camara index*/
    .camara__container{
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    /* Sección lentes index */
    .lentes__container{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
        .lentes__cartas{
            padding: 1rem ;
        }
    }

    /* Sección galería index*/
    .galeria{
        height: 65vh;
    }

    /* Sección accesorios index */
    .accesorios__container{
        margin: 50px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        grid-template-areas:
        "elemt-1    elemt-2";
        .accesorios__text{
            grid-area: elemt-2;
        }
        .accesorios__img{
            grid-area: elemt-1;
        }
    }

    /* Sección nosotros index */
    .nosotros__container{
        margin: 50px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    /* Sección datos index*/
    .datos__container{
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
        .datos__cartas{
            padding: 20px 10px;
        }
    }
}

@media (min-width: 1024px){
    /* camara index*/
    .camara__container{
        .camara__paragraph{
            padding: 1rem 0px;
        }
        .camara__img{
            width: 80%;
        }
    }

    /* lentes index */
    .lentes__container{
        width: 100%;
        padding-bottom: 30px;
        .lentes__paragraph{
            margin: 1.2rem 12px;
        }
    }

    /* accesorios index */
    .accesorios__container{
        .accesorios__paragraph{
            padding: 1rem 0px;
        }
        .accesorios__img{
            width: 80%;
        }
    }

    /* nosotros index */
    .nosotros__container{
        margin: 30px 0px;
        .nosotros__paragraph{
            padding: 1rem 0px;
        }
        .nosotros__img{
            width: 75%;
        }
    }
}