
*{
    margin: 0;
    padding: 0;
}

h1{font-size: 2.8rem;}
h2{font-size: 2.1rem;}
h3{font-size: 1.6rem;}
h4{font-size: 1.3rem;}
p{font-size: 1.2rem;}
a{text-decoration: none;}
ul{list-style: none;}

.btn__vmas{
    background-color: orange;
    color: white;
    padding: 8px 25px;
    font-size: 18px;
    border-radius: 5px;
}

.btn__vmas:hover{
    background-color: rgba(255, 179, 37, 0.705);
    color: white;
    border: 1px solid orange;
    box-shadow: 0 0 20px rgba(250, 171, 0, 0.685);
}

.galeria__btn{
    background-color: blueviolet;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}

.galeria__btn:hover{
    background-color: rgba(163, 82, 238, 0.781);
    border: 2px solid rgba(163, 82, 238, 0.781);
    box-shadow: 0 0 20px  rgb(145, 77, 209);
}

.nosotros__btn{
    color: rgb(77, 168, 253);
}

body{
    font-family: 'roboto', sans-serif;
}
